com.googlecode.iterm2.plist
.config/fish/fishd.localhost
.config/omf/pkg/cliniko
.config/nvim/.netrwhist
.config/nvim/autoload
.config/nvim/bundle
.config/nvim/lazy-lock.json
.config/nvim/plugged
.elvish/db
.elvish/db-journal
.elvish/lib/cliniko.elv
.DS_Store
.gem/credentials
.netrc
.ngrok
.gnupg/
.ssh
.subversion/
.vim/autoload
.vim/bundle
.z
Brewfile.lock.json
Library/
