[hub]
  protocol = https
[user]
  helper     = osxkeychain
  name       = Bruno Pinto
  email      = brunoferreirapinto@gmail.com
  signingkey = brunoferreirapinto@gmail.com
[alias]
  amend = commit --amend -C HEAD
  ap    = add -p
  ci    = commit
  co    = checkout
  count = shortlog -sn
  ctags = !.git/hooks/ctags
  ds    = diff --staged
  lg    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ll    = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate --numstat
  lga   = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lla   = log --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate --numstat
  pf    = push --force-with-lease
  pr    = pull --rebase
  st    = status -sb
[color]
  ui = always
[color "diff"]
  meta       = yellow bold
  commit     = green bold
  frag       = magenta bold
  old        = red bold
  new        = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal    = red bold
  oldHighlight = "red bold 52"
  newNormal    = "green bold"
  newHighlight = "green bold 22"
[core]
  editor       = vim
  excludesfile = ~/.gitignore
  whitespace   = tab-in-indent,tabwidth=2
  pager        = diff-so-fancy | less -+S -FXR
[apply]
  whitespace = nowarn
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  # See `git help config` (search for push.default)
  # for more information on different options of the below setting.
  #
  # Setting to git 2.0 default to surpress warning message
  default = simple
[init]
  templatedir = ~/.git_template
[commit]
  gpgsign  = true
  template = ~/.gitmessage
[github]
  user = bpinto
