<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.pt-us(pt)keymap</string>
	<key>CFBundleName</key>
	<string>PT - US (pt) keymap</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Portuguese - Custom</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.pt-us(pt)keymap.portuguese-custom</string>
		<key>TISIntendedLanguage</key>
		<string>pt</string>
	</dict>
</dict>
</plist>
