[Unit]
Description=Starts swaylock at suspend time
Before=sleep.target

[Service]
User=%I
Type=forking
ExecStart=/usr/local/bin/lock

[Install]
WantedBy=sleep.target
